/* 整体 */
body {
    color: lightgray;
    background-color: #333333;
    padding-top: 70px;
}
a {
    text-decoration: none;
    color: lightgrey;
}

/* 栅格系统的margin设置 */
.col-sm-4, .col-md-3, .col-lg-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 缩略图设置 */
.thumbnail {
    background-color: darkgrey;
    border: 1px solid darkgrey;
}
.thumbnail>img {
    max-height: 100%;
}
/* 条纹状表格颜色间隔 */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #4c4c4c;
}
/* 分页按钮颜色 */
.pager li>a {
    background-color: dimgrey;
}
.pager .disabled>a, .pager .disabled>a:hover {
    color: lightgray;
    background-color: dimgrey;
}
/* 模态框中的文字颜色和label设置 */
.modal-content h4, .modal-content p, .modal-content label, .modal-content input {
    color: #333333;
}
.modal-content label {
    margin: 10px;
    width: 20%;
}
/* 巨幕样式 */
.jumbotron {
    background-color: dimgrey;
    color: #333333;
}
.jumbotron:hover {
    background-color: lightgray;
}
.jumbotron a {
    color: #333333;
}
.jumbotron a:hover { /* 不知道为什么会覆盖掉，只能手动设置 */
    color: #23527c;
}
.btn-group {
    /*float: right;*/
    padding-left: 15px;
    padding-bottom: 5px;
}
.dropdown-menu {
    left: 15px;
}

/* 工具栏按钮样式 */
.toolBarButton {
    background-color: transparent;
    color: lightgrey;
    padding: 15px;
    border: 0 transparent;
}
.toolBarButton:hover {
    color: #ffffff;
}
/* 支持显示缩略图的表格 */
.thumbSupport {
    position: relative;
}
