<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Collection | SunSite</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/create">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li><a href="/group">Group</a></li>
                    <li class="active"><a href="/collection">Collection</a></li>
                    <li><a href="/type">Type</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container thumbSupport">
        <table id="content" class="table table-striped">
            <thead>
                <tr>
                    <th>Collection</th>
                    <th>Group</th>
                    <th>Post</th>
                    <th>LastUpdate</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

    <div id="page">
        <ul class="pager">
            <li id="pageItem" class="disabled"><a id="pageLink">1</a></li>
        </ul>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            getCollectionList(0);
        };

        function getCollectionList(page) {
            $.get("/collection/list?p=" + page, function (data) {
                collectionListHandler(data, page);
            });
        }

        function collectionListHandler(data, page) {
            if (data.code === 0) {
                for (i = 0; i < data.collectionList.length; ++i) {
                    setCollection(data.collectionList[i]);
                }

                page = page - 0 + 1;
                if (page >= data.pageCount) {   // 如果页数到顶了，就要删除页码
                    if (page > 1) { // page=1时就是初始化的时候，已经默认创建好了
                        let pageButton = document.getElementById("pageItem");
                        pageButton.setAttribute("class", "disabled");

                        let pageLink = document.getElementById("pageLink");
                        pageLink.innerText = page;
                    }
                } else if (page === 1) { // page=1即初始化，这时候创建页码
                    let pageButton = document.getElementById("pageItem");
                    pageButton.setAttribute("class", "");
                } else {    // 正常情况page+1，更新
                    let pageLink = document.getElementById("pageLink");
                    pageLink.innerText = page;
                }
            } else if (data.code === 4) {
                let pageButton = document.getElementById("pageItem");
                pageButton.setAttribute("class", "disabled");

                alert(data.msg);
            } else
                window.location.href = "/error";
        }

        function setCollection(data) {
            var sequence = data.sequence;
            var group = data.group;
            var collection = data.collection;
            var post = data.post;
            var lastUpdate = data.lastUpdate;
            var type = data.type;

            var tableBody = document.getElementById("tableBody");

            var trElement = document.createElement("tr");
            tableBody.appendChild(trElement);

            var collectionTd = document.createElement("td");
            var collectionLink = document.createElement("a");
            collectionLink.setAttribute("href", "/collection/show/" + encodeURIComponent(sequence));
            collectionLink.innerText = collection;
            collectionTd.appendChild(collectionLink);
            trElement.appendChild(collectionTd);

            var groupTd = document.createElement("td");
            var groupLink = document.createElement("a");
            groupLink.setAttribute("href", "/group/show/" + encodeURIComponent(group));
            groupLink.innerText = group;
            groupTd.appendChild(groupLink);
            trElement.appendChild(groupTd);

            var postTd = document.createElement("td");
            postTd.innerText = post;
            trElement.appendChild(postTd);

            var lastUpdateTd = document.createElement("td");
            lastUpdateTd.innerText = lastUpdate;
            trElement.appendChild(lastUpdateTd);

            var typeTd = document.createElement("td");
            typeTd.innerText = type;
            trElement.appendChild(typeTd);

            var img = document.createElement("img");
            img.setAttribute("id", sequence);
            img.setAttribute("style", "display: none");
            img.setAttribute("src", "/collection/m/" + encodeURIComponent(sequence));
            trElement.appendChild(img);

            initEvent(collectionTd, sequence);
        }

        $(function () {
            $("#pageLink").click(function () {
                var page = document.getElementById("pageLink");
                getCollectionList(page.innerText);
            });
        });
    </script>

    <script>
        function initEvent(tdElement, seq) {
            tdElement.addEventListener("mouseover", function (e) {
                let img = document.getElementById(seq);
                let table = document.getElementById("content");

                let topL = tdElement.offsetTop;
                let space = table.offsetHeight;
                if (topL > 250 && space - topL < 250)
                    topL = space - img.height;

                img.setAttribute("style", "position: absolute; " +
                    "right: 0; top: " + topL + "px; " +
                    "display: block; z-index: 99");
            });

            tdElement.addEventListener("mouseleave", function (e) {
                let img = document.getElementById(seq);
                img.setAttribute("style", "display: none");
            });
        }
    </script>
</body>
</html>
