<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Collection | Sunsite</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
    
    <style>
        /* 标题菜单 */
        .menu {
            margin-left: auto;
            margin-right: auto;
            width: 1800px;
            height: 70px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .menuContent {
            text-align: center;
            float: left;
            width: 200px;
            height: 70px;
        }
        .menuLink {
            position: relative;
            top: 40px;
        }
        ul, li {
            list-style-type:none;
            padding:0;
            margin:0;
        }
        /* 内容 */
        table {
            text-align: center;
            width: 1500px;
            margin: 20px;
        }
        .next {
            text-align: center;
            margin: 30px;
        }
        /* 通用 */
        a {
            text-decoration: none;
            color: #000;
        }
    </style>

    <script>
        window.onload = function () {
            getCollectionList(0);
        };
    </script>

    <script>
        function getCollectionList(page) {
            $.get("/collection/list?p=" + page, function (data) {
                collectionListHandler(data, page, 0);
            });
        }

        function collectionListHandler(data, page, isFilter) {
            if (data.code == 0) {
                for (i = 0; i < data.collectionList.length; ++i) {
                    setCollection(data.collectionList[i]);
                }

                page = page - 0 + 1;
                if (page >= data.pageCount) {   // 如果页数到顶了，就要删除页码
                    if (page > 1) { // page=1时就是初始化的时候，创都没创建
                        var nextButton = document.getElementById("next");
                        nextButton.remove();
                    }
                } else if (page == 1) { // page=1即初始化，这时候创建页码
                    var nextButton = document.createElement("h3");
                    nextButton.setAttribute("id", "next");
                    nextButton.setAttribute("class", "next");
                    nextButton.innerText = page;
                    nextButton.setAttribute("isFilter", isFilter);

                    var pageElement = document.getElementById("page");
                    pageElement.appendChild(nextButton);
                } else {    // 正常情况page+1，更新
                    var nextButton = document.getElementById("next");
                    nextButton.innerText = page;
                }
            } else if (data.code == 4) {
                var nextButton = document.getElementById("next");
                if (nextButton)
                    nextButton.remove();
                alert(data.msg);
            } else
                window.location.href = "/error";
        }
        
        function setCollection(data) {
            var sequence = data.sequence;
            var collection = data.group + " - " + data.collection;
            var post = data.post;
            var lastUpdate = data.lastUpdate;
            var type = data.type;

            var tableBody = document.getElementById("tableBody");
            
            var trElement = document.createElement("tr");
            tableBody.appendChild(trElement);

            var collectionTd = document.createElement("td");
            var collectionLink = document.createElement("a");
            collectionLink.setAttribute("href", "/collection/show/" + encodeURIComponent(sequence));
            collectionLink.innerText = collection;
            collectionTd.appendChild(collectionLink);
            trElement.appendChild(collectionTd);

            var postTd = document.createElement("td");
            postTd.innerText = post;
            trElement.appendChild(postTd);

            var lastUpdateTd = document.createElement("td");
            lastUpdateTd.innerText = lastUpdate;
            trElement.appendChild(lastUpdateTd);

            var typeTd = document.createElement("td");
            typeTd.innerText = type;
            trElement.appendChild(typeTd);
        }
    </script>

    <script>
        $(function () {
            $("#page").click(function () {
                var page = document.getElementById("next");
                if (page.getAttribute("isFilter") == 0)
                    getCollectionList(page.innerText);
            });
        });
    </script>
</head>

<body>
    <div class="menu">
        <ul>
            <li class="menuContent" style="text-align:center; font-size:50px">
                <a href="/create">SunSite</a>
            </li>
            <li class="menuContent">
                <a class="menuLink" href="/gallery">Gallery</a>
            </li>
            <li class="menuContent">
                <a class="menuLink" href="/illustrator">Illustrator</a>
            </li>
            <li class="menuContent">
                <a class="menuLink" href="/group">Group</a>
            </li>
            <li class="menuContent">
                <a class="menuLink" href="/collection">Collection</a>
            </li>
            <li class="menuContent">
                <a class="menuLink" href="/type">Type</a>
            </li>
        </ul>
    </div>
    <hr style="border-color:black" />
    <div id="content" style="margin:auto; width: 1800px;">
        <table width="100%" id="contentTable" class="contentTable">
            <thead>
                <tr>
                    <th width="60%">Collection</th>
                    <th width="*">Post</th>
                    <th width="*">LastUpdate</th>
                    <th width="*">Type</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        <div id="page">
        </div>
    </div>
</body>
</html>