<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Create | SunSite</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gallery">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li><a href="/group">Group</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a href="/type">Type</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form>
            <div class="form-group">
                <label for="collection">Collection</label>
                <input type="text" class="form-control" id="collection" placeholder="Collection" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="group">Group</label>
                <input type="text" class="form-control" id="group" placeholder="Group" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" placeholder="Type" autocomplete="off">
            </div>
            <button type="button" class="btn btn-default" id="submit">Submit</button>
        </form>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $("#submit").click(function () {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var collection = $('#collection').val();
                var group = $('#group').val();
                var type = $('#type').val();

                var data = {
                    "collection": collection,
                    "group" : group,
                    "type": type
                };

                $.ajax({
                    method: 'post',
                    url: "/collection/create",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    window.location.reload();
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });
    </script>
</body>
</html>