<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
    <style>
        /* 标题菜单 */
        .menu {
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 50px;
        }
        .menuContent {
            text-align: center;
            width: 150px;
        }
        .picture {
            float: left;
            width: 800px;
            height: 800px;
            text-align: center;
            margin: 50px;
            background-color: #fafafa;
        }
        img {
            width: 800px;
            height: 800px;
            object-fit: contain;
            margin: auto;
        }
        .info {
            float: left;
            width: 750px;
            margin: 50px;
        }
        .infoElement {
            font-size: 20px;
            display: block;
        }
        .tool {
            float: left;
            width: 750px;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 545px;
            margin-bottom: 50px;
        }

    </style>
    <script>
        window.onload = function () {
            var r = window.location.href.split("/");
            var sequence = r[r.length-1];
        
            $.get("/gallery/pictureInfo?p=" + sequence + "&e=true", function (data) {
                if (data.code == 2) {
                    alert(data.msg);
                    window.location.href = "/error";
                }

                setPage(data);
                    
                keyEvent(data.prev, data.next);
            });
        };

        function setPage(data) {
            var name = data.name;
                var sequenceCode = data.sequence;
                var illustrator = data.illustrator;
                var collection = data.collection;
                var prev = data.prev;
                var next = data.next;

                document.title = name;

                //生成info
                var divElement = document.getElementById("info");

                var nameElement = document.createElement("p");
                nameElement.innerHTML = name;
                nameElement.setAttribute("class", "infoElement");
                nameElement.setAttribute("id", "pictureName");
                nameElement.setAttribute("style", "overflow:hidden; white-space:nowrap;")
                divElement.appendChild(nameElement);

                var illustratorElement = document.createElement("p");
                illustratorElement.innerHTML = illustrator;
                var illustratorLink = document.createElement("a");
                illustratorLink.setAttribute("href", "/illustrator/show/" + illustrator);
                illustratorLink.setAttribute("class", "infoElement");
                illustratorLink.appendChild(illustratorElement);
                divElement.appendChild(illustratorLink);

                var collectionElement = document.createElement("p");
                collectionElement.innerHTML = collection;
                var collectionLink = document.createElement("a");
                collectionLink.setAttribute("href", "/collection/show/" + collection);
                collectionLink.setAttribute("class", "infoElement");
                collectionLink.appendChild(collectionElement);
                divElement.appendChild(collectionLink);

                var prevElement = document.getElementById("prev");
                if (prev == -1)
                    prevElement.setAttribute("disable", "disable");
                else
                    prevElement.setAttribute("onclick", "window.location.href='/gallery/show/" + prev + "'");

                var nextElement = document.getElementById("next");
                if (next == -1)
                    nextElement.setAttribute("disable", "disable");
                else
                    nextElement.setAttribute("onclick", "window.location.href='/gallery/show/" + next + "'");

                var image = document.createElement("img");
                image.src = "/gallery/l/" + illustrator + "/" + collection + "/" + name;
                var divElement = document.getElementById("picture");
                divElement.appendChild(image);
        }

        function keyEvent(prev, next) {
            document.onkeydown=function(e){
                // var isie = (document.all) ? true : false;
                var key = e.which;
                // if(isie) {
                //     key = window.event.keyCode;
                // } else {
                //     key = e.which;
                // }

                if(key==37) { 
                    if (prev == -1)
                        alert("No More");
                    else
                        window.location.href = "/gallery/show/" + prev;
                    
                }
                if(key==39) {
                    if (next == -1)
                        alert("No More");
                    else
                        window.location.href = "/gallery/show/" + next;
                }
            };
        }
    
        $(function () {
            $("#delete").click(function () {
                var r = window.location.href.split("/");
                var sequence = r[r.length-1];
                alert(sequence);
                var data = {
                    "deleteInfo": sequence
                };

                $.ajax({
                    method: 'post',
                    url: "/gallery/delete",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    window.location.href = "/galleryHome";
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });
    </script>
</head>

<body>
    <div id="title">
        <h1 id="titleText" style="text-align:center;font-size:50px">
            Gallery</h1>
    </div>
    <div class="menu">
        <h3 class="menuContent">
            <a href="/galleryHome">
                GALLERY</a>
        </h3>
    </div>
    <div id="content" style="margin:auto; width:1750px; height:900px;">
        <div id="picture" class="picture">

        </div>
        <div id="info" class="info">
    
        </div>
        <div id="tool" class="tool">
            <button id="prev" style="float:left; margin-right:20px; margin-bottom:20px;">← prev</button>
            <button id="next" style="float:left; margin-left:20px; margin-bottom:20px;">next →</button>
            <button id="delete" style="float:right; margin-bottom:20px;">Delete</button>
        </div>
    </div>
</body>

</html>