<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
    <style>
        /* 标题菜单 */
        .menu {
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 50px;
        }
        .menuContent {
            text-align: center;
            width: 150px;
        }
        .picture {
            float: left;
            width: 800px;
            height: 800px;
            text-align: center;
            margin: 50px;
            background-color: #fbfbfb;
        }
        img {
            width: 800px;
            height: 800px;
            object-fit: contain;
            margin: auto;
        }
        .info {
            margin: 50px;
        }
        .infoElement {
            font-size: 20px;
            display: block;
        }
        .infoElement > p {
            font-weight: bold;
        }
    </style>
    <script>
        window.onload = function () {
            var r = window.location.href.split("/");
            var sequence = r[r.length-1];
        
            $.get("/gallery/pictureInfo?p=" + sequence + "&e=true", function (data) {
                if (data.code == 2) {
                    alert(data.msg);
                    window.location.href = "/error";
                }
                    
                var name = data.name;
                var sequenceCode = data.sequence;
                var illustrator = data.illustrator;
                var collection = data.collection;
                var prev = data.prev;
                var next = data.next;

                document.title = name;

                //生成info
                var divElement = document.getElementById("info");

                var nameElement = document.createElement("p");
                nameElement.innerHTML = name;
                nameElement.setAttribute("class", "infoElement");
                nameElement.setAttribute("id", "pictureName");
                divElement.appendChild(nameElement);

                var illustratorElement = document.createElement("p");
                illustratorElement.innerHTML = illustrator;
                var illustratorLink = document.createElement("a");
                illustratorLink.setAttribute("href", "/hello");
                illustratorLink.setAttribute("class", "infoElement");
                illustratorLink.appendChild(illustratorElement);
                divElement.appendChild(illustratorLink);

                var collectionElement = document.createElement("p");
                collectionElement.innerHTML = collection;
                var collectionLink = document.createElement("a");
                collectionLink.setAttribute("href", "/hello");
                collectionLink.setAttribute("class", "infoElement");
                collectionLink.appendChild(collectionElement);
                divElement.appendChild(collectionLink);

                //生成tool
                var toolElement = document.getElementById("tool");

                var prevElement = document.createElement("button");
                prevElement.innerHTML = "← prev";
                if (prev == -1)
                    prevElement.setAttribute("disable", "disable");
                else
                    prevElement.setAttribute("onclick", "window.location.href='/gallery/show/" + prev + "'");
                toolElement.appendChild(prevElement);

                var nextElement = document.createElement("button");
                nextElement.innerHTML = "next →";
                if (next == -1)
                    nextElement.setAttribute("disable", "disable");
                else
                    nextElement.setAttribute("onclick", "window.location.href='/gallery/show/" + next + "'");
                toolElement.appendChild(nextElement);

                var image = document.createElement("img");
                image.src = "/gallery/l/" + illustrator + "/" + collection + "/" + name;
                // image.setAttribute("style", "display: block; margin: auto");
                var divElement = document.getElementById("picture");
                divElement.appendChild(image);
            });
        };
    
        $(function () {
            $("#delete").click(function () {
                var r = window.location.href.split("/");
                var sequence = r[r.length-1];
                alert(sequence);
                var data = {
                    "pictureSequence": sequence
                };

                $.ajax({
                    method: 'post',
                    url: "/gallery/delete",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    window.location.href = "/galleryHome";
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });
    </script>
</head>

<body>
    <div id="title">
        <h1 id="titleText" style="text-align:center;font-size:50px">
            Gallery</h1>
    </div>
    <div class="menu">
        <h3 class="menuContent">
            <a href="/galleryHome">
                GALLERY</a>
        </h3>
    </div>
    <div id="picture" class="picture">

    </div>
    <div id="info" class="info">

    </div>
    <div id="tool">
        <button id="delete">Delete</button>
    </div>
</body>

</html>