<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
    <style>
        /* 标题菜单 */
        .menu {
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 50px;
        }

        .menuContent {
            text-align: center;
            /* 导致图片列表第一个图片位置错误的万恶之源 */
            /* float: left; */
            width: 150px;
        }

        /* 表单 */

        .upload {
            text-align: center;
        }

        .uploadInput {
            height: 20px
        }

        label {
            display: inline-block;
            width: 100px;
            height: 30px;
            margin: auto;
            text-align: right;
        }

        /* 过滤器 */
        .filters {
            width: 1600px;
            height: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .filter {
            width:320px; 
            height:30px; 
            float:left;
        }

        .labelElement {
            width: 100px;
            height: 30px; 
            float:  left;
        }

        .selectBox {
            width:200px;
            position:relative;
            padding:0;
            font-size:12px;
            float: right;
        }
        ul, li {
            list-style-type:none;
            padding:0;
            margin:0
        }
        .selectBox input {
            cursor:pointer;
            /* display:block;
            line-height:25px; */
            width:200px;
            height:25px;
            overflow:hidden;
            border:1px solid #ccc;
        }
        .selectBox ul {
            width:200px;
            /* position:absolute;
            left:0;
            top:27px; */
            border:1px solid #ccc;
            /* background:#fff; */
            overflow: hidden;
            display:none;
            background:#ebebeb;
            z-index:99999;
        }
        .selectBox ul li {
            display:block;
            height:30px;
            overflow:hidden;
            line-height:30px;
            padding-left:5px;
            width:100%;
            cursor:pointer;
        }
        .hover {
            background:#ccc;
        }

        /* 图片列表 */

        .pictureList {
            display: inline-block;
            /* 加上这个使得元素强行置顶，反而更难看 */
            /* vertical-align: top; */
            text-align: center;
            width: 320px;
            height: 340px;
            margin: 15px;
        }

        a {
            overflow: hidden;
            white-space: nowrap;
        }

        .next {
            text-align: center;
            margin: 30px;
        }
    </style>
    <!-- 初始化 -->
    <script>
        window.onload = function () {
            deleteAllPicture();
            getPictureList(0);
            getGalleryInfo();
        };
    </script>
    <!-- 页面变换 -->
    <script>
        function upload() {
            var content = document.getElementById("content");
            content.style.display = "none";

            var uploadFile = document.getElementById("uploadFile");
            uploadFile.style.display = "block";

            var title = document.getElementById("titleText");
            title.onclick = null;
        }
        function uploadInfo() {
            var uploadFile = document.getElementById("uploadFile");
            uploadFile.style.display = "none";

            var uploadInfo = document.getElementById("uploadInfo");
            uploadInfo.style.display = "block";
        }

        $(document).ready(function () {
            $(".selectBox input").click(function () {
                var thisinput = $(this);
                var thisul = $(this).parent().find("ul");
                if (thisul.css("display") == "none") {
                    //显示出来滚动条 
                    if (thisul.height() > 200) {
                        thisul.css({ height: "200" + "px", "overflow-y": "scroll" })
                    };
                    thisul.fadeIn("100");
                    thisul.hover(function () { }, function () { thisul.fadeOut("100"); });
                    //连续多个事件 
                    thisul.find("li").click(function () {
                        thisinput.val($(this).text());
                        thisul.fadeOut("100");
                        getGalleryInfo();
                    }).hover(
                        function () {
                             $(this).addClass("hover"); 
                        }, 
                        function () { 
                            $(this).removeClass("hover"); 
                        }
                    );
                }
                else {
                    thisul.fadeOut("fast");
                }
            })
        }); 
    </script>
    <!-- 上传 -->
    <script>
        $(function () {
            $("#submitFile").click(function () {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var formData = new FormData($('#uploadFileForm')[0]);
                $.ajax({
                    method: 'post',
                    url: "/gallery/upload",
                    data: formData,
                    cache: false,   //上传文件无需缓存
                    processData: false, //用于对data参数进行序列化处理 这里必须false
                    contentType: false //必须
                }).done(function (data) {
                    alert(data.msg);
                    if (data.code == 0) {
                        var uploadCode = document.getElementById("uploadCode");
                        uploadCode.value = data.uploadCode;
                        uploadInfo();
                    } else {
                        window.location.reload();
                    }
                }).fail(function () {
                    alert("error");
                    window.location.href = "./error";
                });
            });
        });
        $(function () {
            $("#submitInfo").click(function () {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var illustrator = $('#illustrator').val();
                var collection = $('#collection').val();
                var type = $('#type').val();
                var uploadCode = $('#uploadCode').val();

                var data = {
                    "illustrator": illustrator,
                    "collection": collection,
                    "type": type,
                    "uploadCode": uploadCode
                };

                $.ajax({
                    method: 'post',
                    url: "/gallery/uploadInfo",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    window.location.reload();
                }).fail(function () {
                    alert("error");
                    window.location.href = "./error";
                });
            });
        });
    </script>
    <!-- 图库信息 -->
    <script>
        function getGalleryInfo() {
            var illustrator = $('#illustrators').val();
            var collection = $('#collections').val();
            var type = $('#types').val();

            var data = {
                "illustrator": illustrator,
                "collection": collection,
                "type": type
            };

            $.ajax({
                method: 'post',
                url: "/gallery/galleryInfo",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json"
            }).done(function (data) {
                setGalleryInfo(data);
            }).fail(function () {
                alert("error");
                window.location.href = "/error";
            });
        }
        
        function setGalleryInfo(data) {
            var illustratorUl = document.getElementById("illustratorList");
            deleteGalleryInfo(illustratorUl);

            var emptyIllustratorLi = document.createElement("li");
            illustratorUl.appendChild(emptyIllustratorLi);
            for (i = 0; i < data.illustrators.length; ++i) {
                let illustrator = document.createElement("li");
                illustrator.innerHTML = data.illustrators[i];
                illustratorUl.appendChild(illustrator);
            }

            var collectionUl = document.getElementById("collectionList");
            deleteGalleryInfo(collectionUl);

            var emptyCollectionLi = document.createElement("li");
            collectionUl.appendChild(emptyCollectionLi);
            for (i = 0; i < data.collections.length; ++i) {
                let collection = document.createElement("li");
                collection.innerHTML = data.collections[i];
                collectionUl.appendChild(collection);
            }

            var typeUl = document.getElementById("typeList");
            deleteGalleryInfo(typeUl);

            var emptyTypeLi = document.createElement("li");
            typeUl.appendChild(emptyTypeLi);
            for (i = 0; i < data.types.length; ++i) {
                let type = document.createElement("li");
                type.innerHTML = data.types[i];
                typeUl.appendChild(type);
            }
        }

        function deleteGalleryInfo(div) {
            while(div.hasChildNodes()) 
                div.removeChild(div.firstChild);
        }
    </script>
    <!-- 图片列表 -->
    <script>
        $(function () {
            $("#page").click(function () {
                var page = document.getElementById("next");
                if (page.getAttribute("isFilter") == 0)
                    getPictureList(page.innerHTML);
                else
                    getPictureListWithFilter(page.innerHTML);
            });
        });

        $(function () {
            $("#getFilter").click(function () {
                deleteAllPicture();
                getPictureListWithFilter(0);
            });
        });

        function getPictureListWithFilter(page) {
            var illustrator = $('#illustrators').val();
            var collection = $('#collections').val();
            var type = $('#types').val();
            var name = $('#name').val();

            var data = {
                "illustrator": illustrator,
                "collection": collection,
                "type": type,
                "name": name,
                "page": page,
                "size": 20
            };

            $.ajax({
                method: 'post',
                url: "/gallery/filter",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json"
            }).done(function (data) {
                pictureListHandler(data, page, 1);
            }).fail(function () {
                alert("error");
                window.location.href = "/error";
            });
        }

        function getPictureList(page) {
            $.get("/gallery/list?p=" + page + "&s=20", function (data) {
                pictureListHandler(data, page, 0);
            });
        }

        function pictureListHandler(data, page, isFilter) {
            if (data.code == 0) {
                for (i = 0; i < data.fileList.length; ++i) {
                    var sequence = data.fileList[i];
                    setPicture(sequence);
                }

                page = page - 0 + 1;
                if (page >= data.pageCount) {
                    if (page > 1) {
                        var nextButton = document.getElementById("next");
                        nextButton.remove();
                    }
                } else if (page == 1) {
                    var nextButton = document.createElement("h3");
                    nextButton.setAttribute("id", "next");
                    nextButton.setAttribute("class", "next");
                    nextButton.innerHTML = page;
                    nextButton.setAttribute("isFilter", isFilter);

                    var pageElement = document.getElementById("page");
                    pageElement.appendChild(nextButton);
                } else {
                    var nextButton = document.getElementById("next");
                    nextButton.innerHTML = page;
                }
            } else if (data.code == 4) {
                var nextButton = document.getElementById("next");
                if (nextButton)
                    nextButton.remove();
                alert(data.msg);
            } else
                window.location.href = "/error";
        }

        function setPicture(sequence) {
            var pictureList = document.getElementById("pictureList");

            var divElement = document.createElement("div");
            divElement.setAttribute("class", "pictureList");
            divElement.setAttribute("id", sequence);
            pictureList.appendChild(divElement);

            var image = document.createElement("img");
            image.src = "/gallery/m?thumbnail=" + sequence;
            image.setAttribute("style", "display: block; margin: auto");

            var imageLink = document.createElement("a");
            imageLink.setAttribute("href", "/gallery/show/" + sequence);
            imageLink.appendChild(image);
            divElement.appendChild(imageLink);

            getPictureInfo(sequence);
        }

        function getPictureInfo(sequence) {
            $.get("/gallery/pictureInfo?p=" + sequence + "&e=false", function (data) {
                if (data.code != 0)
                    return;
                var illustrator = data.illustrator;
                var collection = data.collection;

                var divElement = document.getElementById(sequence);

                var illustratorElement = document.createElement("a");
                illustratorElement.setAttribute("href", "/illustrator/show/" + illustrator);
                illustratorElement.innerHTML = illustrator;
                illustratorElement.setAttribute("style", "display: block");
                divElement.appendChild(illustratorElement);

                var collectionElement = document.createElement("a");
                collectionElement.setAttribute("href", "/collection/show/" + collection);
                collectionElement.innerHTML = collection;
                collectionElement.setAttribute("style", "display: block");
                divElement.appendChild(collectionElement);
            });
        }

        function deleteAllPicture() {
            $(".pictureList").remove();
            $(".next").remove();
        }
    </script>
</head>

<body>
    <div id="title">
        <h1 id="titleText" onclick="upload()" style="text-align:center;font-size:50px">
            Gallery</h1>
    </div>
    <div class="menu">
        <h3 class="menuContent">
            <a href="/galleryHome">
                GALLERY</a>
        </h3>
    </div>
    <div id="upload">
        <div class="upload" id="uploadFile" style="display: none">
            <form id="uploadFileForm" enctype="multipart/form-data">
                <input type="file" name="file" multiple="multiple" />
                <input id="submitFile" type="button" value="sumbit!">
            </form>
        </div>
        <div class="upload" id="uploadInfo" style="display: none">
            <form id="uploadInfoForm">
                <input type="hidden" name="uploadCode" id="uploadCode" value="" />
                <label for="illustrator">Illustrator</label>
                <input type="text" name="illustrator" id="illustrator" class="uploadInput", autocomplete="off"/>
                <br />
                <label for="collection">Collection</label>
                <input type="text" name="collection" id="collection" class="uploadInput", autocomplete="off"/>
                <br />
                <label for="type">Type</label>
                <input type="text" name="type" id="type" class="uploadInput", autocomplete="off"/>
                <br />
                <input id="submitInfo" type="button" value="sumbit!">
            </form>
        </div>
    </div>
    <div id="content" style="margin:auto; width: 1750px;">
        <div class="filters">
            <div class="filter">
                <div class="labelElement">
                    <label for="types">Type</label>
                </div>
                <div class="selectBox">
                    <input id="types" type="text" readonly="readonly"> <!--  readonly="readonly" -->
                    <ul id="typeList" class="selectUl">
                    </ul>
                </div>
            </div>
            <div class="filter">
                <div class="labelElement">
                    <label for="illustrators">Illustrator</label>
                </div>
                <div class="selectBox">
                    <input id="illustrators" type="text" readonly="readonly">
                    <ul id="illustratorList" class="selectUl">
                    </ul>
                </div>
            </div>
            <div class="filter">
                <div class="labelElement">
                    <label for="collections">Collection</label>
                </div>
                <div class="selectBox">
                    <input id="collections" type="text" readonly="readonly">
                    <ul id="collectionList" class="selectUl">
                    </ul>
                </div>
            </div>
            <div class="filter">
                <div class="labelElement">
                    <label for="name">Picture</label>
                </div>
                <div class="selectBox">
                    <input id="name" type="text", autocomplete="off">
                </div>
            </div>
            <div class="filter">
                <button id="getFilter" style="margin-left:50px;">GET!</button>
            </div>
            
        </div>
        <div id="pictureList">
        </div>
        <div id="page">
        </div>
    </div>
</body>
</html>