<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Group | SunSite</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gallery">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li class="active"><a href="/group">Group</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a href="/type">Type</a></li>
                </ul>

                <div class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Filter" id="filterInfo" name="query" class="form-control" autocomplete="off">
                        <input type="hidden" id="inFilter" value="" />
                    </div>
                    <button type="button" id="getFilter" class="btn btn-success">Go</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container thumbSupport">
        <table id="content" class="table table-striped">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Post</th>
                    <th>LastUpdate</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

    <div id="page">
        <ul class="pager">
            <li id="pageItem" class="disabled"><a id="pageLink">1</a></li>
        </ul>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            getGroupList(0);
        };

        function getGroupList(page) {
            $.get("/group/list?p=" + page, function (data) {
                groupListHandler(data, page);
            });
        }

        function getGroupListWithFilter(page, query) {
            $.get("/group/list?p=" + page + "&query=" + encodeURIComponent(query), function (data) {
                groupListHandler(data, page);
            });
        }

        function groupListHandler(data, page) {
            if (data.code === 0) {
                for (i = 0; i < data.groupList.length; ++i) {
                    setGroup(data.groupList[i]);
                }

                page = page - 0 + 1;
                if (page >= data.pageCount) {   // 如果页数到顶了，就要删除页码
                    if (page > 1) { // page=1时就是初始化的时候，已经默认创建好了
                        let pageButton = document.getElementById("pageItem");
                        pageButton.setAttribute("class", "disabled");

                        let pageLink = document.getElementById("pageLink");
                        pageLink.innerText = page;
                    }
                } else if (page === 1) { // page=1即初始化，这时候创建页码
                    let pageButton = document.getElementById("pageItem");
                    pageButton.setAttribute("class", "");
                } else {    // 正常情况page+1，更新
                    let pageLink = document.getElementById("pageLink");
                    pageLink.innerText = page;
                }
            } else if (data.code === 4) {
                let pageButton = document.getElementById("pageItem");
                pageButton.setAttribute("class", "disabled");

                alert(data.msg);
            } else
                window.location.href = "/error";
        }

        function setGroup(data) {
            var group = data.group;
            var post = data.post;
            var lastUpdate = data.lastUpdate;

            var tableBody = document.getElementById("tableBody");

            var trElement = document.createElement("tr");
            tableBody.appendChild(trElement);

            var groupTd = document.createElement("td");
            var groupLink = document.createElement("a");
            groupLink.setAttribute("href", "/group/show/" + encodeURIComponent(group));
            groupLink.innerText = group;
            groupTd.appendChild(groupLink);
            trElement.appendChild(groupTd);

            var postTd = document.createElement("td");
            postTd.innerText = post;
            trElement.appendChild(postTd);

            var lastUpdateTd = document.createElement("td");
            lastUpdateTd.innerText = lastUpdate;
            trElement.appendChild(lastUpdateTd);

            var img = document.createElement("img");
            img.setAttribute("id", group);
            img.setAttribute("style", "display: none");
            img.setAttribute("src", "/group/m/" + encodeURIComponent(group));
            trElement.appendChild(img);

            initEvent(groupTd, group);
        }

        function clear() {
            var tableBody = document.getElementById("tableBody");
            tableBody.innerHTML = "";

            var pageButton = document.getElementById("pageItem");
            pageButton.setAttribute("class", "disabled");
            var pageLink = document.getElementById("pageLink");
            pageLink.innerText = 1;
        }
    </script>

    <script>
        $(function () {
            $("#getFilter").click(function () {
                var filterInfo = $('#filterInfo').val();

                clear();

                if (filterInfo.length === 0) {
                    $('#inFilter').val("");
                    getGroupList(0);
                } else {
                    $('#inFilter').val(filterInfo);
                    getGroupListWithFilter(0, filterInfo);
                }
            });
        });

        $(function () {
            $("#pageLink").click(function () {
                var page = document.getElementById("pageLink");

                var query = $('#inFilter').val();
                if (query.length === 0)
                    getGroupList(page.innerText);
                else
                    getGroupListWithFilter(page.innerText, query);
            });
        });

        filterInfo.addEventListener("keydown", function (e) {
            var key = e.which;

            if (key === 13) {
                var info = $('#filterInfo').val();

                clear();

                if (info.length === 0) {
                    $('#inFilter').val("");
                    getGroupList(0);
                } else {
                    $('#inFilter').val(info);
                    getGroupListWithFilter(0, info);
                }
            }
        });
    </script>

    <script>
        function initEvent(tdElement, name) {
            tdElement.addEventListener("mouseover", function (e) {
                let img = document.getElementById(name);
                let table = document.getElementById("content");

                let topL = tdElement.offsetTop;
                let space = table.offsetHeight;
                if (topL > 250 && space - topL < 250)
                    topL = space - img.height;

                img.setAttribute("style", "position: absolute; " +
                    "right: 0; top: " + topL + "px; " +
                    "display: block; z-index: 99");
            });

            tdElement.addEventListener("mouseleave", function (e) {
                let img = document.getElementById(name);
                img.setAttribute("style", "display: none");
            });
        }
    </script>
</body>
</html>
        