<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loading...</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gallery">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li><a href="/circle">Circle</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a href="/type">Type</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="picture" class="col-sm-12 col-md-12 col-lg-12">
            </div>

            <div id="name" class="col-sm-12 col-md-9 col-lg-9">
            </div>
            <div id="size" class="col-sm-12 col-md-3 col-lg-3 blockquote-reverse">
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <h4><small>Illustrators</small></h4>
            </div>
            <div id="illustrator" class="col-sm-12 col-md-12 col-lg-12">
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <h4><small>Circle</small></h4>
            </div>
            <div id="circle" class="col-sm-12 col-md-12 col-lg-12">
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <h4><small>Collection</small></h4>
            </div>
            <div id="collection" class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
    </div>

    <nav id="tool" class="navbar navbar-inverse" style="margin-bottom: 0;">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><button class="toolBarButton" id="prev" type="button">←  </button></li>
                    <li><button class="toolBarButton" id="next" type="button">  →</button></li>
                    <li><button class="toolBarButton" type="button" data-toggle="modal" data-target="#modifyInfo">Modify</button></li>
                    <li><button class="toolBarButton" id="delete" type="button">Delete</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="modifyInfo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title">Modify</h4>
                </div>
                <div class="modal-body">
                    <label for="modifyName">Name</label>
                    <input type="text" name="name" id="modifyName" autocomplete="off">
                </div>
                <div class="modal-body">
                    <label for="modifyIllustrator">Illustrator</label>
                    <input type="text" name="illustrator" id="modifyIllustrator" autocomplete="off">
                </div>
                <!--<div class="modal-body">-->
                    <!--<label for="modifyGroup">Group</label>-->
                    <!--<input type="text" name="group" id="modifyGroup" autocomplete="off">-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<label for="modifyCollection">Collection</label>-->
                    <!--<input type="text" name="collection" id="modifyCollection" autocomplete="off">-->
                <!--</div>-->
                <div class="modal-footer">
                    <data-togglebutton type="button" class="btn btn-default" data-dismiss="modal">Close</data-togglebutton>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            var r = window.location.href.split("/");
            var sequence = r[r.length-1];

            $.get("/gallery/info?seq=" + sequence, function (data) {
                if (data.code === 2) {
                    alert(data.msg);
                    window.location.href = "/error";
                } else {
                    setPage(data);

                    keyEvent(data.prev, data.next);
                }
            });
        };

        function setPage(data) {
            var name = data.name;
            var circle = data.group;
            var cId = data.cid;
            var collection = data.collection;
            var illustrators = data.illustrator;
            var width = data.width;
            var height = data.height;

            document.title = name;

            //生成info
            var nameDiv = document.getElementById("name");
            var nameElement = document.createElement("h3");
            nameElement.innerText = name;
            nameElement.setAttribute("id", "pictureName");
            nameElement.setAttribute("style", "overflow:hidden; white-space:nowrap;");
            nameDiv.appendChild(nameElement);

            var illustratorDiv = document.getElementById("illustrator");
            for (i = 0; i < illustrators.length; ++i) {
                let data = illustrators[i];

                let illustratorElement = document.createElement("h4");
                illustratorElement.innerText = data;

                let illustratorLink = document.createElement("a");
                illustratorLink.setAttribute("id", "pictureIllustrator");
                illustratorLink.setAttribute("href", "/illustrator/show/" + encodeURIComponent(data));
                illustratorLink.appendChild(illustratorElement);

                illustratorDiv.appendChild(illustratorLink);
            }

            var circleDiv = document.getElementById("circle");
            var circleElement = document.createElement("h4");
            circleElement.innerText = circle;
            var circleLink = document.createElement("a");
            circleLink.setAttribute("id", "picturecircle");
            circleLink.setAttribute("href", "/circle/show/" + encodeURIComponent(circle));
            circleLink.appendChild(circleElement);
            circleDiv.appendChild(circleLink);

            var collectionDiv = document.getElementById("collection");
            var collectionElement = document.createElement("h4");
            collectionElement.innerText = collection;
            var collectionLink = document.createElement("a");
            collectionLink.setAttribute("id", "pictureCollection");
            collectionLink.setAttribute("href", "/collection/show/" + encodeURIComponent(cId));
            collectionLink.appendChild(collectionElement);
            collectionDiv.appendChild(collectionLink);

            var sizeDiv = document.getElementById("size");
            var sizeElement = document.createElement("h4");
            sizeElement.innerText = width + " × " + height;
            sizeElement.setAttribute("id", "pictureName");
            sizeDiv.appendChild(sizeElement);

            var image = document.createElement("img");
            image.src = "/p/" + data.sequence;
            image.setAttribute("class", "img-responsive center-block");
            var divElement = document.getElementById("picture");
            divElement.appendChild(image);

            // 翻页设置
            var prevElement = document.getElementById("prev");
            if (data.prev == -1) {
                prevElement.innerText = "×  ";
                prevElement.setAttribute("disable", "disable");
            }
            else
                prevElement.setAttribute("onclick", "window.location.href='/gallery/show/" + data.prev + "'");

            var nextElement = document.getElementById("next");
            if (data.next == -1) {
                nextElement.innerText = "  ×";
                nextElement.setAttribute("disable", "disable");
            }
            else
                nextElement.setAttribute("onclick", "window.location.href='/gallery/show/" + data.next + "'");

            // 修改框信息
            // SEPARATOR
            var illustratorString = "";
            for (i = 0; i < illustrators.length; ++i) {
                illustratorString += illustrators[i];
                illustratorString += "，";
            }
            illustratorString = illustratorString.substring(0, illustratorString.length - 1);
            $('#modifyName').val(name);
            $('#modifyIllustrator').val(illustratorString);
        }

        function keyEvent(prev, next) {
            document.onkeydown = function(e) {
                var key = e.which;

                if(key === 46) {
                    deletePicture();
                } else if(key === 37) {
                    if (prev == -1)
                        alert("No More");
                    else
                        window.location.href = "/gallery/show/" + prev;
                } else if(key === 39) {
                    if (next == -1)
                        alert("No More");
                    else
                        window.location.href = "/gallery/show/" + next;
                }
            };
        }

        $(function () {
            $("#save").click(function() {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var r = window.location.href.split("/");
                var sequence = r[r.length-1];

                var name = $('#modifyName').val();
                var illustrators = $('#modifyIllustrator').val();

                var data = {
                    "sequence": sequence,
                    "name": name,
                    "illustrators": illustrators
                };

                $.ajax({
                    method: 'post',
                    url: "/gallery/modify",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    if (data.newLinkInfo)
                        window.location.href = "/gallery/show/" + data.newLinkInfo;
                    else
                        window.location.reload();
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });

        $(function () {
            $("#delete").click(function() {
                var button = this;
                $(button).attr('disabled', 'disabled');

                deletePicture();
            });
        });

        function deletePicture() {
            var r = window.location.href.split("/");
            var sequence = r[r.length-1];
            var data = {
                "deleteInfo": sequence
            };

            var jump = document.getElementById("pictureCollection").getAttribute("href");

            $.ajax({
                method: 'post',
                url: "/gallery/delete",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json"
            }).done(function (data) {
                alert(data.msg);
                window.location.href = jump;
            }).fail(function () {
                alert("error");
                window.location.href = "/error";
            });
        }
    </script>
</body>
</html>