<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Type | SunSite</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/create">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li><a href="/group">Group</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li class="active"><a href="/type">Type</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="content" class="row">
        </div>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            $.get("/type/list", function (data) {
                if (data.code === 0) {
                    var content = document.getElementById("content");

                    for (i = 0; i < data.typeList.length; ++i) {
                        let type = data.typeList[i].type;;

                        let typeItem = document.createElement("div");
                        typeItem.setAttribute("class", "col-sm-12 col-md-6 col-lg-6");

                        let pane = document.createElement("div");
                        pane.setAttribute("class", "jumbotron");

                        let link = document.createElement("a");
                        link.setAttribute("href", "/type/show/" + encodeURIComponent(type));

                        let name = document.createElement("h1");
                        name.innerText = type;

                        let lastUpdate = document.createElement("h4");
                        lastUpdate.innerText = data.typeList[i].lastUpdate;

                        link.appendChild(name);
                        pane.appendChild(link);
                        pane.appendChild(document.createElement("br"));
                        pane.appendChild(lastUpdate);
                        typeItem.appendChild(pane);

                        content.appendChild(typeItem);
                    }
                } else if (data.code === 4) {
                    alert(data.msg);
                } else
                    window.location.href = "/error";
            });
        };
    </script>
</body>
</html>
