<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loading...</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="/default.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gallery">SunSite</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/illustrator">Illustrator</a></li>
                    <li class="active"><a href="/group">Group</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a href="/type">Type</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container  thumbSupport">
        <div id="header" class="row">
            <div id="group" class="col-sm-12 col-md-12 col-lg-12">
            </div>
            <div id="alias" class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>

        <table id="content" class="table table-striped">
            <thead>
                <tr>
                    <th>Collection</th>
                    <th>Post</th>
                    <th>LastUpdate</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

    <nav id="tool" class="navbar navbar-inverse" style="margin-bottom: 0;">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><button class="toolBarButton" id="modify" type="button" data-toggle="modal" data-target="#modifyIllustrator">Modify</button></li>
                    <li><button class="toolBarButton" id="download" type="button">Download</button></li>
                    <li><button class="toolBarButton" id="delete" type="button">Delete</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="modifyIllustrator" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title">Modify</h4>
                </div>
                <div class="modal-body">
                    <label for="modifyAlias">Aliases</label>
                    <input type="text" name="alias" id="modifyAlias" autocomplete="off">
                    <br/>
                    <label for="modifyName">Name</label>
                    <input type="text" name="name" id="modifyName" autocomplete="off">
                </div>
                <div class="modal-footer">
                    <data-togglebutton type="button" class="btn btn-default" data-dismiss="modal">Close</data-togglebutton>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            var r = window.location.href.split("/");
            var group = r[r.length-1];
            document.title = decodeURIComponent(group) + " | Group";

            getGroupInfo(group);
            getCollectionList(group);
        };

        function getGroupInfo(group) {
            $.get("/group/info?n=" + group, function (data) {
                var group = document.getElementById("group");
                var g = document.createElement("h3");
                g.innerText = data.group;
                group.appendChild(g);

                var alias = document.getElementById("alias");
                var a = document.createElement("p");
                a.setAttribute("class", "info");
                a.innerText = data.alias;
                alias.appendChild(a);

                $('#modifyAlias').val(data.alias);
                $('#modifyName').val(data.group);
            });
        }

        function getCollectionList(group) {
            $.get("/group/detail?n=" + group, function (data) {
                collectionListHandler(data);
            });
        }

        function collectionListHandler(data) {
            if (data.code === 0) {
                for (i = 0; i < data.collectionList.length; ++i) {
                    setCollection(data.collectionList[i]);
                }
            } else if (data.code === 4)
                alert(data.msg);
            else
                window.location.href = "/error";
        }

        function setCollection(data) {
            var sequence = data.sequence;
            var collection = data.collection;
            var post = data.post;
            var lastUpdate = data.lastUpdate;
            var type = data.type;

            var tableBody = document.getElementById("tableBody");

            var trElement = document.createElement("tr");
            tableBody.appendChild(trElement);

            var collectionTd = document.createElement("td");
            var collectionLink = document.createElement("a");
            collectionLink.setAttribute("href", "/collection/show/" + encodeURIComponent(sequence));
            collectionLink.innerText = collection;
            collectionTd.appendChild(collectionLink);
            trElement.appendChild(collectionTd);

            var postTd = document.createElement("td");
            postTd.innerText = post;
            trElement.appendChild(postTd);

            var lastUpdateTd = document.createElement("td");
            lastUpdateTd.innerText = lastUpdate;
            trElement.appendChild(lastUpdateTd);

            var typeTd = document.createElement("td");
            typeTd.innerText = type;
            trElement.appendChild(typeTd);

            var img = document.createElement("img");
            img.setAttribute("id", sequence);
            img.setAttribute("style", "display: none");
            img.setAttribute("src", "/collection/m/" + encodeURIComponent(sequence));
            trElement.appendChild(img);

            initEvent(collectionTd, sequence);
        }
    </script>

    <script>
        $(function () {
            $("#download").click(function () {
                var r = window.location.href.split("/");
                var group = decodeURIComponent(r[r.length-1]);

                window.location.href = "/group/download/" + group;
            });
        });

        $(function () {
            $("#delete").click(function () {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var r = window.location.href.split("/");
                var group = decodeURIComponent(r[r.length-1]);

                var data = {
                    "deleteInfo": group
                };

                $.ajax({
                    method: 'post',
                    url: "/group/delete",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    window.location.href = "/group";
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });

        $(function () {
            $("#save").click(function () {
                var button = this;
                $(button).attr('disabled', 'disabled');

                var r = window.location.href.split("/");
                var group = decodeURIComponent(r[r.length-1]);

                var newName = $('#modifyName').val();
                var aliases = $('#modifyAlias').val();

                var data = {
                    "group": group,
                    "newName": newName,
                    "aliases": aliases
                };

                $.ajax({
                    method: 'post',
                    url: "/group/modify",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json"
                }).done(function (data) {
                    alert(data.msg);
                    if (data.newLinkInfo)
                        window.location.href = "/group/show/" + encodeURIComponent(data.newLinkInfo);
                    else
                        window.location.reload();
                }).fail(function () {
                    alert("error");
                    window.location.href = "/error";
                });
            });
        });
    </script>

    <script>
        function initEvent(tdElement, seq) {
            tdElement.addEventListener("mouseover", function (e) {
                let img = document.getElementById(seq);

                let table = document.getElementById("content");
                let topL = tdElement.offsetTop + table.offsetTop;

                if (tdElement.offsetTop > 250 && table.offsetHeight - tdElement.offsetTop < 250)
                    topL = table.offsetTop + table.offsetHeight - img.height;

                img.setAttribute("style", "position: absolute; " +
                    "right: 0; top: " + topL + "px; " +
                    "display: block; z-index: 99");
            });

            tdElement.addEventListener("mouseleave", function (e) {
                let img = document.getElementById(seq);
                img.setAttribute("style", "display: none");
            });
        }
    </script>
</body>
</html>