<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sunnn.sunsite.dao.TypeMapper">

    <select id="find" parameterType="java.lang.String" resultType="sunnn.sunsite.entity.Type">
        SELECT *
        FROM `type`
        WHERE `name` = #{name}
    </select>

    <select id="findAll" resultType="sunnn.sunsite.entity.Type">
        SELECT *
        FROM `type`
    </select>

    <insert id="insert" parameterType="sunnn.sunsite.entity.Type" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `type` (`name`)
        VALUES (#{name})
    </insert>

    <update id="update">
        UPDATE `type`
        SET `lastUpdate` = #{lastUpdate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM `type` WHERE `name` = #{name}
    </delete>
</mapper>