<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sunnn.sunsite.dao.TypeDao">

    <select id="find" parameterType="java.lang.String" resultType="sunnn.sunsite.entity.Type">
        SELECT *
        FROM `type`
        WHERE `name` = #{name}
    </select>

    <select id="findInfo" resultType="sunnn.sunsite.dto.TypeInfo">
        SELECT
            t.name AS `type`,
            ANY_VALUE(t.lastUpdate) AS lastUpdate,
            COUNT(c.cId) AS book
        FROM
            `type` AS t
            LEFT JOIN collection AS c ON t.id = c.type
        WHERE
            t.name = #{name}
        GROUP BY
            t.name
    </select>

    <select id="findAllInfo" resultType="sunnn.sunsite.dto.TypeInfo">
        SELECT
            t.name AS `type`,
            ANY_VALUE(t.lastUpdate) AS lastUpdate,
            COUNT(c.cId) AS book
        FROM
            `type` AS t
            LEFT JOIN collection AS c ON t.id = c.type
        GROUP BY
          t.name
    </select>

    <insert id="insert" parameterType="sunnn.sunsite.entity.Type" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `type` (`name`)
        VALUES (#{name})
    </insert>

    <update id="update">
        UPDATE `type`
        SET lastUpdate = #{lastUpdate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM `type` WHERE `name` = #{name}
    </delete>
</mapper>